
.login-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 30px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f8f8f8; /* Blanco opaco sutil */
  color: #000; /* Texto negro */
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; /* Limitar el ancho como el formulario */
  width: 100%;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .login-form {
    padding: 20px;
    margin: 20px;
    border-radius: 0;
    box-shadow: none;
  }

  .login-form h2 {
    font-size: 24px;
  }

  .form-group label {
    font-size: 14px;
  }

  .form-group input {
    padding: 8px;
  }

  .login-form button {
    padding: 10px;
    font-size: 14px;
  }

  .login-form-footer p {
    font-size: 12px;
  }
}

